image: kernai/refinery-parent-images:{{build.tag}}-torch-cpu
manifests:
  -
    image: kernai/refinery-parent-images:{{build.tag}}-torch-cpu-drone-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: kernai/refinery-parent-images:{{build.tag}}-torch-cpu-drone-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
